<template>
  <div id="app">
    <Navbar />
    <FirstHalf @clicked="start()"/>
    <Divider />
    <second-half />
    <divider />
    <b-button @click="start()" class="main-page-button button-bg">Get Started - it's free</b-button>
    <divider />
    <onboard-session ref="child" />
</div>
</template>

<script>
import Navbar from '@/components/Navbar.vue'
import FirstHalf from '@/components/FirstHalf.vue'
import Divider from '@/components/Divider.vue'
import SecondHalf from '@/components/SecondHalf.vue'
import onboardSession from '@/components/onboardSession.vue'

export default {
  name: 'Home',
  components: {
    Navbar, FirstHalf, Divider, SecondHalf,
    onboardSession
  },
  methods: {
    start() {
      this.$refs.child.startSurvey();
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.main-page-button {
  margin: 5%;
}
</style>
