<template>
    <div class="first-half">
        <div class="left-text">
            <h2>Open your account digitally</h2>
            <h2>Start with 0 rupees</h2>
            <p>Lorem ipsum Open your account digitally</p>
            <p>Lorem ipsum Open your account digitally</p>
            <b-button @click="buttonPressed()" class="button-bg">Get Started - it's free</b-button>
        </div>
        <div class="testing"></div>
    </div>
</template>

<script>
export default {
    name: 'FirstHalf',
    methods: {
        buttonPressed() {
            this.$emit('clicked');
        }
    }
}
</script>

<style>
.first-half {
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.testing {
    width: 600px;
    height: 500px;
    background: grey;
    border-radius: 10px;
}
.left-text {
    margin: 0 10% 0 0;
    text-align: left;
}
.button-bg {
    background-color: #00cfdb!important;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .first-half {
        flex-direction: column;
    }
    .left-text {
        text-align: center;
        margin: 0 0 10% 0;
    }
    .testing {
        width: 200px;
        height: 150px;
    }
}
</style>
