<template>
  <v-app>
    <div
      class="content-container"
      :data-aos="!mobile ? 'fade' : 'null'"
      data-aos-duration="400"
      data-aos-easing="linear"
    >
      <div class="icons-form">
        <i class="fas fa-arrow-left"></i>
        <i class="fas fa-times"></i>
      </div>
      <div>
        <div class="question">
          <h4>{{ questionEnglish }}</h4>
          <p>{{ questionRoman }}</p>
        </div>
        <div class="image-container">
          <div class="inputs">
            <div v-if="questionType == 'radio'" class="radio-buttons">
              <label>
                <input
                  type="radio"
                  name="test"
                  value="cnic"
                  v-model="value"
                  checked
                />
                <div class="img-radio">
                  <img src="@/assets/cnic.png" />
                  <h6>CNIC</h6>
                </div>
              </label>

              <label>
                <input
                  type="radio"
                  name="test"
                  value="cnic"
                  v-model="value"
                  checked
                />
                <div class="img-radio">
                  <img src="@/assets/snic.png" />
                  <h6>CNIC</h6>
                </div>
              </label>

              <label>
                <input
                  type="radio"
                  name="test"
                  value="cnic"
                  v-model="value"
                  checked
                />
                <div class="img-radio">
                  <img src="@/assets/ncop.png" />
                  <h6>CNIC</h6>
                </div>
              </label>

              <label>
                <input
                  type="radio"
                  name="test"
                  value="cnic"
                  v-model="value"
                  checked
                />
                <div class="img-radio">
                  <img src="@/assets/poc.png" />
                  <h6>CNIC</h6>
                </div>
              </label>
            </div>
            <div class="col-sm-5" v-else-if="questionType == 'select'">
              <v-autocomplete
                :items="items"
                v-model="value"
                label="Nationality"
              >
              </v-autocomplete>
            </div>
            <b-col v-else sm="5">
              <v-text-field
                :label="returnLabel()"
                :rules="returnRules()"
                required
                v-model="value"
              ></v-text-field>
            </b-col>
            <b-button
              v-if="!mobile"
              @click="releaseEvent()"
              class="button-bg"
              >Get started - it's free</b-button
            >
          </div>
          <div v-if="images" class="images">
            <b-carousel
              id="carousel-fade"
              style="text-shadow: 0px 0px 2px #000"
              fade
              controls
              indicators
              :interval="2000"
            >
              <b-carousel-slide
                img-src="@/assets/smart_name.png"
              ></b-carousel-slide>
              <b-carousel-slide
                img-src="@/assets/cnic_name.png"
              ></b-carousel-slide>
            </b-carousel>
          </div>
          <b-button
            v-if="mobile"
            @click="releaseEvent()"
            class="button-bg"
            >Get started - it's free</b-button
          >
        </div>
      </div>
      <div class="slide-number">
        <p>Step {{ current }} of 27</p>
      </div>
    </div>
  </v-app>
</template>

<script>
export default {
  name: "formSlide",
  data() {
    return {
      value: "",
      items: ["Foo", "Bar", "Fizz", "Buzz"],
      mobile: window.innerWidth <= 700,
      emailRules: [
        (value) => !!value || "Required.",
        (value) =>
          /^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$/.test(
            value
          ) || "Please enter a valid email.",
      ],
      textRules: [
        (value) => !!value || "Required.",
        (value) => (value && value.length >= 3) || "Min 3 characters required.",
      ],
      cnicRules: [
        (value) => !!value || "Required.",
        (value) =>
          /^[0-9+]{5}-[0-9+]{7}-[0-9]{1}$/.test(value) ||
          "Please enter a valid CNIC number.",
      ],
      mobileRules: [
        (value) => !!value || "Required.",
        (value) =>
          /^[0-9+]{11}$/.test(value) || "Please enter a valid mobile number.",
      ],
      selectRules: [(value) => !!value || "Required."],
    };
  },
  created: function () {
    let isScrolling;
    window.addEventListener("scroll", () => {
      this.scroll = true;
      window.clearTimeout(isScrolling);
      isScrolling = setTimeout(() => {
        this.scroll = false;
      }, 66);
    });
    addEventListener("resize", () => {
      this.mobile = innerWidth <= 700;
    });
  },
  props: {
    questionEnglish: String,
    questionRoman: String,
    questionType: String,
    questionPh: String,
    current: String,
    images: {
      type: Boolean,
      default: true,
    },
  },
  methods: {
    returnRules() {
      switch (this.questionType) {
        case "email":
          return this.emailRules;
        case "cnic":
          return this.cnicRules;
        case "mobile":
          return this.mobileRules;
        default:
          return this.textRules;
      }
    },
    returnLabel() {
      switch (this.questionType) {
        case "email":
          return "Email";
        case "cnic":
          return "CNIC";
        case "mobile":
          return "Phone";
        case "address":
          return "Address";
        default:
          return "Name";
      }
    },
    releaseEvent() {
      this.$emit("button-clicked", this.value, 1);
    },
    
  },
};
</script>

<style>
.carousel {
  width: 350px;
  height: 250px;
}
.img-radio {
  width: 130px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  margin-bottom: 10px;
  margin-right: 15px;
  margin-top: 30px;
}
</style>