<template>
  <div>
    <b-modal
      no-close-on-backdrop
      id="modal-1"
      title="BootstrapVue"
      size="xl"
      hide-footer
      hide-header
    >
      <!-- head bar -->
      <div class="bg-modal-head"></div>
      <!-- slide 1 -->
      <transition name="fade" v-on:after-leave="afterLeave(1)">
        <div v-if="current === 0" id="page1" class="modal-margin">
          <div class="session1">
            <div class="testing"></div>
            <div class="content">
              <h4>Before we start</h4>
              <p>
                We'll ask for some information so we can verify your identity
                and ensure your account is secure.
              </p>
              <ul class="fa-ul">
                <li>
                  <span class="fa-li"><i class="fas fa-check-circle"></i></span>
                  <p>Your personal information</p>
                  Like your full name and residential address
                </li>
                <li>
                  <span class="fa-li"><i class="fas fa-check-circle"></i></span>
                  <p>Your personal information</p>
                  Like your full name and residential address
                </li>
                <li>
                  <span class="fa-li"><i class="fas fa-check-circle"></i></span>
                  <p>Your personal information</p>
                  Like your full name and residential address
                </li>
              </ul>
            </div>
          </div>
        </div>
      </transition>
      <!-- slide 2 -->
      <transition name="fade" v-on:after-leave="afterLeave(2)">
        <div v-if="current === 1" id="page2">
          <div class="logo-head">
            <img
              class="float-left"
              width="150px"
              src="@/assets/finpocket_logo.jpg"
              alt="FinPocket"
            />
            <img
              class="float-right"
              width="150px"
              src="@/assets/fortune_logo.svg"
              alt="Fortune"
            />
          </div>
          <div class="session1">
            <div class="content align-center">
              <h4>Welcome, let's get started!</h4>
              <p>
                Your security is of the utmost importance to us. You can read
                all about the measures we take to protect your data, as well as
                our Privacy Policy.
              </p>
            </div>
          </div>
        </div>
      </transition>
      <!-- slide 3 -->
      <transition name="fade" v-on:after-leave="afterLeave(3)">
        <div v-if="current === 2" id="page3" class="modal-margin">
          <div class="session1">
            <div class="testing"></div>
            <div class="content">
              <h4 class="align-center">Tell us a little more about yourself</h4>
              <p class="align-center">
                As a registered broker-dealer, Finpocket is required by law to
                collect your CNIC &amp; Details
              </p>
              <ul class="fa-ul">
                <li>
                  <span class="fa-li"><i class="fas fa-check-circle"></i></span>
                  <p>We protect your CNIC</p>
                  Your CNIC will not be shared without your permission, except
                  as required by law.
                </li>
                <li>
                  <span class="fa-li"><i class="fas fa-check-circle"></i></span>
                  <p>Encrypted &amp; Secure</p>
                  Your CNIC will be encrypted and transmitted to us via a secure
                  (SSL) enviroment. Learn more.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </transition>
      <!-- slide 4 -->
      <transition name="fade" v-on:after-leave="afterLeave(4)">
        <div v-if="current === 3" id="page4" class="modal-margin">
          <div class="session1">
            <div class="testing"></div>
            <div class="content">
              <h4 class="align-center">What's the best way to get in touch?</h4>
              <p class="align-center">
                Fill in your phone number and basic verification details. We
                promise not to send you junk mail or show up to dinner
                uninvited.
              </p>
            </div>
          </div>
        </div>
      </transition>
      <!-- slide 5 -->
      <transition
        name="fade"
        v-on:after-leave="
          $bvModal.hide('modal-1');
          current = 0;
        "
      >
        <div v-if="current === 4" id="page5" class="modal-margin">
          <div class="session1">
            <div class="testing"></div>
            <div class="content">
              <h4 class="align-center">
                Let's make sure your info looks right
              </h4>
              <p class="align-center">
                It never hurts to double check what you've entered! Once you're
                happy how everything looks, please press "Submit" and we'll
                begin reviewing your application.
              </p>
            </div>
          </div>
        </div>
      </transition>
      <!-- footer -->
      <div class="modal-footer">
        <ul class="pagination">
          <li v-for="index in 4" :key="index">
            <i
              :class="index === current ? 'far fa-circle' : 'fas fa-circle'"
            ></i>
          </li>
        </ul>
        <b-button @click="current = null" size="lg" class="button-bg"
          >Continue</b-button
        >
      </div>
    </b-modal>
  </div>
</template>

<script>
export default {
  name: "onboradSession",
  data() {
    return {
      current: 0,
      ifFaded: false,
    };
  },
  methods: {
    startSurvey() {
      this.$bvModal.show("modal-1");
    },
    afterLeave(number) {
      this.current = number;
    },
  },
};
</script>

<style>
.session1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.align-center {
  text-align: center;
}

.modal-margin {
  height: calc(100% - 264px);
  margin: 50px 75px;
}

#page2 {
  height: calc(100% - 164px) !important;
}

#page2 .session1 {
  height: calc(100% - 264px) !important;
  justify-content: center !important;
  margin: 50px 75px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.modal-body {
  padding: 0 !important;
}

.bg-modal-head {
  height: 50px;
  background-image: linear-gradient(90deg, #0068a9 0%, #00acca 100%);
}

.logo-head {
  display: flex;
}

.logo-head .float-right {
  margin-left: auto;
  margin-right: 5%;
}

.logo-head .float-left {
  margin-left: 5%;
}

.session1 > .content > ul > li {
  padding-bottom: 20px;
}

.session1 > .testing {
  width: 150px;
  height: 100px;
  position: absolute;
  top: 100px;
  align-self: flex-end;
}

.pagination {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.modal-footer {
  justify-content: center !important;
  border-top: 0 !important;
  padding-bottom: 50px !important;
}

.modal-footer button {
  position: absolute;
  right: 75px;
}

.pagination li {
  margin: 6px;
  color: grey;
  font-size: 0.5rem;
  padding: 20px 0 0 0 !important;
}

.modal-dialog,
.modal-content {
  height: 700px;
}

.modal-body {
  overflow: scroll;
}
.modal-body::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}

@media only screen and (max-width: 600px) {
  .modal-margin {
    height: auto;
    margin: 10% 10% 0 10%;
  }
  .modal-footer {
    flex-direction: column;
  }
  .modal-footer button {
    position: inherit;
  }
  .testing {
    position: inherit !important;
    align-self: center !important;
    margin-bottom: 20px;
  }
  .modal-dialog,
  .modal-content {
    min-height: 700px;
    height: auto;
  }
}
</style>