<template>
  <div>
    <div class="second-half-card">
      <h2>
        Setup your trading account in simple steps with
        <strong>FinPockect</strong> powered by
        <strong>Future Securities.</strong>
      </h2>
    </div>
    <div id="even" class="second-half-card">
      <h2>
        Setup your trading account in simple steps with
        <strong>FinPockect</strong> powered by
        <strong>Future Securities.</strong>
      </h2>
    </div>
    <div class="second-half-card">
      <h2>
        Setup your trading account in simple steps with
        <strong>FinPockect</strong> powered by
        <strong>Future Securities.</strong>
      </h2>
    </div>
  </div>
</template>

<script>
export default {
  name: "SecondHalf",
};
</script>

<style>
.second-half-card {
  padding: 20%;
  background: white;
}
#even {
  background: grey !important;
}
</style>