<template>
  <v-form id="form" v-model="formValidity" ref="formMain">
    <div class="bg-modal-head"></div>
    <!-- slide 1 -->
    <form-slide
      v-on:button-clicked="validateField"
      questionEnglish="Name of the person on whose CNIC this SIM number us registered."
      questionRoman="Jiska mobile number hai unka naam jo CNIC per ho."
      questionType="text"
      questionPh="Please enter name."
      current="1"
    />
    <!-- slide 2 -->
    <form-slide
      v-on:button-clicked="validateField"
      questionEnglish="CNIC number of the person on which SIM is registered."
      questionRoman="Jiska mobile number hai unka CNIC number."
      questionType="cnic"
      current="2"
    />
    <!-- slide 3 -->
    <form-slide
      v-on:button-clicked="validateField"
      questionEnglish="Your full name on your CNIC"
      questionRoman="Apka naam jo CNIC per hai."
      questionType="text"
      questionPh="Please enter name."
      current="3"
    />
    <!-- slide 4 -->
    <form-slide
      v-on:button-clicked="validateField"
      questionEnglish="We have sent you a verfication code on your email"
      questionRoman="Apko iss email per verfication code bheja hai."
      questionType="email"
      questionPh="Please enter name."
      current="4"
    />
    <!-- slide 5 -->
    <form-slide
      v-on:button-clicked="validateField"
      questionEnglish="Are you sure you want to open account with this number?"
      questionRoman="Kya app isi number per apna account khulwana chahte hai?"
      questionType="mobile"
      questionPh="0311-1111111"
      current="5"
      :images="false"
    />
    <!-- slide 6 -->
    <form-slide
      v-on:button-clicked="validateField"
      questionEnglish="What is your husband name?"
      questionRoman="App ke shohar ka naam kya hai?"
      questionType="text"
      questionPh="Please enter name."
      current="6"
      :images="false"
    />
    <!-- slide 7 -->
    <form-slide
      v-on:button-clicked="validateField"
      questionEnglish="What is your current mailing address?"
      questionRoman="App ka moujooda pata kya hai?"
      questionType="address"
      questionPh="Please enter name."
      current="7"
      :images="false"
    />
    <!-- slide 8 -->
    <form-slide
      questionEnglish="What is your CNIC Number?"
      questionRoman="Apka CNIC number kya hai?"
      questionType="cnic"
      questionPh="42111-1111111-3"
      current="8"
    />
    <!-- slide 9  -->
    <form-slide
      questionEnglish="What is your father name?"
      questionRoman="App ke waalid ka naam?"
      questionType="text"
      questionPh="Please enter name."
      current="9"
    />
    <!-- slide 10 -->
    <form-slide
      questionEnglish="What is your date of birth?"
      questionRoman="App ki tareek-e-paidaish?"
      questionType="text"
      questionPh="Please enter name."
      current="10"
    />
    <!-- slide 11 -->
    <form-slide
      questionEnglish="What is your CNIC date of issue?"
      questionRoman="App ke CNIC ka tareek-e-indaraj?"
      questionType="text"
      questionPh="Please enter name."
      current="11"
    />
    <!-- slide 12 -->
    <form-slide
      questionEnglish="What is your job title?"
      questionRoman="App ke CNIC ka tareek-e-indaraj?"
      questionType="text"
      questionPh="Please enter name."
      current="12"
    />
    <!-- slide 13 -->
    <form-slide
      questionEnglish="What is the name of the company you work in?"
      questionRoman="App jis company k liye kaam krte hai uska naam?"
      questionType="text"
      questionPh="Please enter name."
      current="13"
      :images="false"
    />
    <!-- slide 14 -->
    <form-slide
      questionEnglish="Idendification type"
      questionRoman="App kis document ki sath register krna chahte hai?"
      questionType="radio"
      current="14"
      :images="false"
    />
    <!-- slide 15 -->
    <form-slide
      questionEnglish="Nationality"
      questionRoman="App ki qoumiyat?"
      questionType="select"
      current="15"
      :images="false"
    />
  </v-form>
</template>

<script>
import formSlide from "@/components/formSlide.vue";

export default {
  name: "Form",
  components: {
    formSlide,
  },
  data() {
    return {
      current: 0,
      scroll: false,
      formValidity: false
    };
  },
  created: function () {
    let isScrolling;
    window.addEventListener("scroll", () => {
      this.scroll = true;
      window.clearTimeout(isScrolling);
      isScrolling = setTimeout(() => {
        this.scroll = false;
      }, 66);
    });
  },
  destroyed() {
    window.removeEventListener("scroll", this.handleScroll2);
  },
  methods: {
    validateField(value, current) {
      console.log(value);
      if(this.$refs.formMain.validate() || value)
      {
        this.scrollToElement(current);
      }
    },
    scrollToElement(index, options) {
      
        this.$refs.formMain.resetValidation()
        const el = document.querySelectorAll("div.content-container")[index];

        if (el) {
          el.scrollIntoView(options);
        }
    },
  },
};
</script>

<style>
/* HIDE RADIO */
[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type="radio"] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type="radio"]:checked + div {
  box-shadow: 0 4px 8px 0 #00cfdb, 0 6px 20px 0 #00cfdb;
}

.content-container .btn {
  min-width: 200px;
  max-width: 200px;
}

.col-sm-5 {
  min-width: 200px!important;
  max-width: 200px!important;
  padding-left: 0!important;
  padding-right: 0!important;
}

.icons-form {
  font-size: x-large;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons-form .fa-times {
  float: right;
}

.slide-number p {
  float: right;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

#form {
  height: 100%;
  min-height: 500px;
  min-width: 1349px;
}

.bg-modal-head {
  position: fixed;
  z-index: 99;
  top: 0;
  height: 50px;
  width: 100%;
  min-width: 1349px;
  background-image: linear-gradient(90deg, #0068a9 0%, #00acca 100%);
}
.button-bg {
  background-color: #00cfdb !important;
  font-weight: bold;
  width: 30%;
}
.image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inputs {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 150px;
  max-height: 150px;
}
.images {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}
html {
  overflow-x: scroll!important;;
}
.content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: calc(5% + 50px) 15% 5% 15%;
  min-height: 100%;
}

.images img {
  margin-right: 10px;
}

.images img:last {
  margin-right: 0px !important;
}

@media only screen and (max-width: 600px) {
  #form {
    min-width: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  .image-container {
    flex-direction: column;
  }
  .content-container {
    padding: calc(5% + 50px) 5% 5% 5%;
  }
  .inputs {
    min-height: 100px;
    max-height: inherit;
    text-align: center;
  }
  .radio-buttons {
    padding: 10%;
  }
}
</style>


